{% extends "base_template.html" %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'css/autor_detalle.css' %}">
<title>Libro</title>
{% endblock %}

{% block content %}
<div class="container detalle">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.year }}</td>
            <td>{{ object.author }}</td>
          </tr>
        </tbody>
      </table>    
</div>

{% endblock %}